/* Reset default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the body */
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(208, 48, 9, 0.669), rgb(49, 152, 154));
}

/* Container styling */
.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 6px;
}

/* Title styling */
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

/* Pseudo element before the title */
.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, rgba(208, 48, 9, 0.669), rgb(49, 152, 154));
}

/* User details container */
.container .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

/* Input box styling */
.user-details .input-box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

/* Styling for input elements */
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
}

/* Styling for labels associated with gender input */
.user-details .input-box .details .gender {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

/* Styling for focused and valid input */
.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b5956;
}

/* Gender details container */
.gender-details {
    width: 100%;
    margin-top: 15px; /* Adjusted margin top */
    
}

/* Category container for gender radio buttons */
.gender-details .category {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

}

/* Styling for gender radio buttons */
.gender-details input[type="radio"] {
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    outline: none;
    cursor: pointer;
    
}

/* Styling for checked state of gender radio buttons */
.gender-details input[type="radio"]:checked {
    background: linear-gradient(135deg, rgba(208, 48, 9, 0.669), rgb(49, 152, 154));
}

/* Styling for labels associated with gender radio buttons */
.gender-details input[type="radio"] + label {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* Gender title styling */
.gender-details .gender-title {
    font-weight: bold; /* Corrected font weight */
    
}

/* Styling for course input */
.container .user-details #course {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
}

/* Styling for register button */
form .button-register {
    height: 30px;
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

/* Styling for cancel button */
form .button-cancel {
    height: 30px;
    width: calc(100% / 2 - 20px);
    margin: 1px 0; /* Adjusted margin */
    margin-bottom: 15px;
}

/* Styling for register and cancel buttons */
form .button-register input,
form .button-cancel input {
    height: 100%;
    width: 100%; /* Adjusted width */
    outline: none;
    color: #0000;
    border: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    letter-spacing: 1px;
}

/* Styling for register button hover state */
form .button-register input:hover {
    background: linear-gradient(135deg, #1BDA5E, #07E91B);
}

/* Styling for cancel button hover state */
form .button-cancel input:hover {
    background: linear-gradient(135deg, #E70C1C, #E90A07);
}
